In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r'C:\Users\Manuel Elizaldi\Desktop\Learning-Testing\Unemployed-Project\JobTracker.xlsx', sheet_name = 'Clean Data')

In [4]:
df

,Index,Position,Messaged Recruiter or Team,Date,Status,Interviews,Source
0,1,Business System Data Analyst,False,2023-01-20 00:00:00,No Answer,0,LinkedIn
1,2,"Associate Analyst, Customer Data (REMOTE)",False,2023-01-22 00:00:00,Denied 1 Interview,1,LinkedIn
2,3,"Analytics, Reporting Analyst - Remote",False,2023-01-24 00:00:00,Denied,0,LinkedIn
3,4,Alternative Data Analyst - Webscraping,False,2023-01-24 00:00:00,No Answer,0,LinkedIn
4,5,Financial Planning Analyst,False,2023-01-24 00:00:00,No Answer,0,LinkedIn
...,...,...,...,...,...,...,...
521,522,NaN,True,2023-12-22 00:00:00,Ghosted 1 Interview,1,Networking
522,523,Data Analyst III,True,2023-12-22 00:00:00,Ghosted 1 Interview,1,Networking
523,524,Senior Business Intelligence Analyst,True,2023-01-11 00:00:00,No Answer,0,Networking
524,525,Business Analyst,True,2024-01-23 00:00:00,No Answer,0,Networking
525,526,Data Analyst,True,-,Ghosted 1 Interview,1,Networking